{{ > header}}

<form method="POST" action="http://localhost:8080/script/submit"
	class="ui fluid form">

	<fieldset>

		<legend>Ajouter un script</legend>

		<div class="field">
			<label for="title">Titre : </label> <input type="text" name="title"
				id="title" />
		</div>

		<div class="field">
			<label for="description">Description : </label> <input type="text"
				name="description" id="description" />
		</div>

		<div class="field">
			<label for="content">Contenu : </label>
			<textarea name="content" id="content"></textarea>
		</div>

		<div class="field">
			<label for="creationDate">Date de création : </label> <input
				type="text" name="creationDate" id="creationDate" />
		</div>

		<div class="field">
			<label for="category">Categorie : </label> <select name="category"
				id="category"> {{#categories}}
				<option value="{{id}}">{{name}}</option> {{/categories}}
			</select>
		</div>

		<div class="field">
			<label for="language">Langage : </label> <select name="language"
				id="language"> {{#languages}}
				<option value="{{id}}">{{name}}</option> {{/languages}}
			</select>
		</div>

		<div class="ui segment">
			<input type="submit" class="ui positive button" value="Ajouter" />
			<button class="ui neutral button">
				<a href="http://localhost:8080/index">Annuler</a>
			</button>
		</div>

	</fieldset>

</form>

{{ > footer}}
