{{>header}}

<div class="ui form segment">
    <button class="ui secondary button">
        Ajouter une organisation...
    </button>
    <table class="ui table">
        <thead>
            <tr>
                <th class="single line">Id</th>
                <th>Name</th>
                <th>Domain</th>
                <th colspan="4">Aliases</th>
            </tr>
        </thead>
        <tbody>
            {{#orgas}}
            <tr>
                <td class="single line">
                    {{id}}
                </td>
                <td class="single line">
                    {{name}}
                </td>
                <td class="single line">
                    {{domain}}
                </td>
                <td class="single line">
                    {{aliases}}
                </td>
                <td class="right aligned">
                    <a href="/orgas/display/{{id}}" class="circular ui icon button">
                        <i class="eye icon"></i>
                    </a>
                </td>
                <td class="right aligned">
                    <a href="/orgas/edit/{{id}}" class="circular ui icon button">
                        <i class="edit icon"></i>
                    </a>
                </td>
                <td class="right aligned">
                    <a href="/orgas/delete/{{id}}" class="circular ui icon button">
                        <i class="x icon"></i>
                    </a>
                </td>
            </tr>
            {{/orgas}}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7" class="right aligned">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

{{>footer}}